@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: 
        linear-gradient(110deg, rgba(255,0,0,.8), transparent 70.71%),
        linear-gradient(220deg, rgba(0,255,0,.8), transparent 70.71%),
        linear-gradient(330deg, rgba(0,0,255,.8), transparent 70.71%);
    height: 100vh;
}
header {
    width: 100%;
    padding: 10px;
    font-family: "Style Script", cursive;
    text-align: center;
}
main {
    display: flex;
}
#left-section, #right-section {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
#left-section {
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 0 50% 50% 0;
    padding: 20px;
    justify-content: space-evenly;
}
#left-section p {
    width: 75%;
    font-size: large;
}
#right-section {
    align-items: center;
    gap: 50px;
    background: transparent;
}
#right-section nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    & span:hover{
        background-color: #9198e5;
    }
}
#right-section nav span, #right-section form button {
    background-color: rgb(238, 146, 104);
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#right-section form button{
    display: block;
}
#right-section nav span {
    margin-top: 30px;
}
#right-section form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#right-section form input {
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: large;
    color: black;
}
#right-section form button:hover {
    background-color: #9198e5;
}
footer {
    float: right;
    background: rgb(168, 168, 168);
    width: fit-content;
}
